
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PTSST</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <link href="~/Content/estilosParciales.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>

    <div class="contenedorPrincipal">
        <div class="contenedor-menu">
            <a href="#" class="btn-menu">Menú<i class="icono fa fa-bars"></i></a>
            <ul class="menu">
                <li>
                    <a href="#">Menú user<i class="icono derecha fa fa-chevron-down"></i></a>
                    <ul class="subMenu">
                        <li>
                            <a href="#">Encuestas<i class="icono derecha fa fa-chevron-down"></i></a>
                            <ul class="subMenu1">
                                @*<li>
                                            <a asp-area="Admin" asp-controller="Cargos" asp-action="Index"> Cargos empleados<i class="icono derecha fa fa-chevron-down"></i></a>
                                            <ul class="subMenu2">
                                        <li><a href="#">Item 1</a></li>
                                    </ul>
                                        </li>*@
                                <li>
                                <li><a href="@Url.Action("Index", "EncuestaUsuarios")">Encuesta </a></li> @*1*@
                                <li>
                            </ul>
            </ul>
                    </ul>

        </div>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap1.js"></script>
    <script src="~/Scripts/main1.js"></script>
    <script src="~/Scripts/main2.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>